.centeredText li{
            Padding:0;
            margin:0;
}

.row {min-width:98% !important;}

.button{
	    text-align:center !important;
		vertical-align:middle !important;
	}

.accordion .f-dropdown.content { 
    display: block; 
}

section.top-bar-section.left > ul {
  width: 90%;
  padding-left: 13%;
  padding-right: 20px;
}

section.top-bar-section.left > ul > li {
  padding-left: 0%;
  padding-right: 5%;
}

.profile-card {
	
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  background-color: #fff; }

  .profile-card img {

    width: 10rem;

    display: block;

    margin: 0 auto 0 auto;

    text-align: top;

    border-radius: 100%;

    box-shadow: 2px 2px 5px #888888; }

  .profile-card .profile-info {

    padding: 1rem; }

    .profile-card .profile-info a {

      margin-top: 0;

      text-align: center; }

    .profile-card .profile-info h4 {

      margin-top: 0;

      text-align: center;}

     .profile-card .profile-info h6 {

      margin-top: 0;

      text-align: center;}

    .profile-card .profile-info p {

      text-align: center; }

    .profile-card .profile-info .inline-list {

      text-align: center;

      margin-bottom: 1rem; }

      .profile-card .profile-info .inline-list li {

        float: none;

        display: inline-block; }



.orbit-container ul li { max-height: 400px; overflow: hidden; }
 .orbit-container ul li img { width: 100%; }

.imageclass {
     float:left;
     height:75px;
}

.textclass {
     float:left;
     height:20px;
}


.nav-panel a {
	color: white;
	line-height: inherit;
	text-decoration: none;
}

.nav-panel a:visited {
    color: white; /* Цвет посещённой ссылки */
}
 
.nav-panel a:hover {
    color: #1E90FF; /* Цвет ссылки при наведении на нее курсора мыши */  
    #text-decoration: underline; /* Добавляем подчеркивание */
}

.top-bar {
	background-color: white;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: white;
	line-height: 2.8125rem;
	padding: 0 0.9375rem;
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
	background: white;
	color: black;
	line-height: 2.8125rem;
	padding: 0 0.9375rem;
}

#searchPanel a{
	color: black;
	#line-height: inherit;
	text-decoration: none;
}

.top-bar-section ul li > a {
	color: #000;
	border-top: 1px solid #e9eaec; 
	border-left: 1px solid #e9eaec;
	border-right: 1px solid #e9eaec;
}

.product-buy-card .row {
	margin: 0px;
}

li.product-buy-card  {
	margin: 0px;
	padding: 0px;
	background-color: white;
}


.content-row
	{
	max-width: 100% !important;
}

.banner {
	height: 250px !important; 
	width: 100%;
	padding-top: 30px;
}

.container {
	overflow:hidden;
	#position:relative;
	#max-width:1280px;
	min-width: 1280px;
	width:100%;
	#min-height:100%;https://zm.ctm.ru/service/home/~/?auth=co&loc=ru&id=1410&part=2
	font-size: 1.2rem;
}

	
.content-width {http://www.4vsar.ru/news/79180.html
	#width:100% !important;
	#max-width:1280px !important;
	min-width: 1280px !important;
}    
    


.content-row  a{
	color: #1E90FF;	
}

.row h2{
	color: white;	
}

hr {
padding-bottom: 1px;
background-color: #9b9b9b;
border-bottom:1px solid #F4F4F4;
}

.li {
  display:inline-block;
  vertical-align: bottom;
  text-align: center;
}

.ui-dialog-titlebar-close{
    display: none;}
    
.search-in-genre {
	background-color: #fff;
	border:solid #e9eaec; 
	border-width: 3px 3px 3px 3px;
	background-color: #f2f3f5;
}    
    
.search-in-genre h4{
	#padding-top: 10px;
	#text-align: center;
	padding-top: 10px;
	padding-bottom: -15px;
	width: 40px;
}

.search-in-genre .button{
	width: 60%;
	height: 50px;
 	margin: 10px auto;
 	padding: 15px 10px 10px 10px;
 	display:block;
	text-align: center;
	background-color: grey;
}     

.search-in-genre-margin {
	margin-left: 15px;
	margin-right: 15px;
}

.search-in-genre  hr{
	margin-top: 0px;
	padding-top: 0px;
   
}

.shuffle-button {
        width: 25px;
        height: 25px;
        #background: #e3e3e3;
        #border: 1px solid #939393;
        #line-height: 25px;
        #text-align: center;
        #font-size: 30px;
        #color: grey;
        #border-radius: 30px;
        #align-content: right;
        float: right;
        cursor: pointer;
        vertical-align: bottom;
        #align-content: middle;
        margin: auto;
        display: inline-block;
        padding-top: 16px;
}

.product-body-object {
		#border:solid #e9eaec;
		#border-width: 5px 5px 5px 5px;
		padding: 25px;
		height: 550px;
		min-height: 550px;
		#box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.product-body-object:hover {
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		#box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .2);
		#z-index: 100;
		 position: relative;
}



.cover img{
	display: block;
	height: 300px;
	min-height: 300px; 
}

.img-circle {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-self: center;
    #border: solid #000;
	 #border-width: 0 3px;
	 
	 
} 

a {
	color: black;
	font-family: COMIC SANS MS;
}

.quotations {
	font-style: italic;
	font-family: COMIC SANS MS;
}

.quotations-object {
		border:solid #e9eaec;
		border-width: 5px 5px 5px 5px;
		padding: 25px;
		height: 500px;
		min-height: 500px;
}

.search_panel {
	 padding-right: 0px;
	 min-width: 1280px !important;
    margin: 0;
    padding: 0;
    #overflow: hidden;
    #background-color: #333;
    #position: fixed; /* Set the navbar to fixed position */
    #top: 0; /* Position the navbar at the top of the page */
    #z-index: 10000;
}

.moving-bar {
	position: fixed !important;
	z-index: 1000;
	background-color: white;
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
	top:0px;
	min-width:100%;
   width: 100%;
   top:0px; 
}

.moving-bar input, .moving-bar img {
	height: 30px !important;
}
    
.slide img {
	height: 400px;
	width: 100%; 
	padding: 20px;


}    

.slide img:hover, .topic-card:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}    
 
.slide {
	position: absolute;
	overflow: hidden;
	 display: inline-block;
	 padding: 10px;

}    
    
.arrows {
	height:430px;
}

.slideshow {  
} 
  
.main-content {
	padding-top: 30px;
} 
   
.centred-img {
  #width: 50%;
  #height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;  
}    
   
.slidecontainer {
	overflow:hidden;
	position: relative;
	height: 430px;
	display: inherit;
} 
    
.header {
	margin-top: 100px;
	background-color: white;
   padding: 0px;
}


.footer {
	background-color: #191919;
	margin-top: 50px;
	padding-top: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.footer h4 {
	color: white;
}

.footer li {
	list-style-type: none;
}

.footer a {
	color: #999;
}

.footer a:hover {
	color: white;
}

.footer p {
	display:inline;
	padding-left:5px;
	color: white;
}

.social {
	height:30px; 
	opacity: .7;
}

.social:hover {
	opacity: 1;
}

.topic-card {
	padding: 10px;
}

.topic-card img {
	display: block;
	height: 300px;
	min-height: 300px;
	width: 100%;
	min-width: 100%;"
}

.topic-card h5 {
	text-align:center;
	margin-top: 25px;
	text-transform: uppercase;
	font-weight: bold;
}

.topic-card a {
	margin-top: 25px;
	color: #008CBA;
}

.topic-card a:hover {
	text-decoration: underline;
}

.bgvideo {
  position:relative;
  overflow: hidden;
  filter: grayscale(60%);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  } 
 
.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#fff;
  background:rgba(0,0,0,0.13);
  padding:30px 0px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  height: 60px;
  width: 80%;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}

.box label{
	padding-left: 15px;
	padding-right: 15px;
}

.box input:active, .box input:focus{
	background: rgba(0,0,0,0.9);
	border-color: white;
	border-width: 3px;
}

.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#008CBA;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:active{
  background:#27ae60;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}

.box h6{
  font-size:16px;
  text-align:center;
  color:red;	
} 
 
.inner {
  position: absolute;
}
.inner-container{
  width:400px;
  height:500px;
  min-height: 500px;
  min-width: 400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hiden;
} 
    
